<div class="container">
	<h1>Hotels</h1>
	<div class="row">
  		<div class="col-xs-6 col-md-4"><button class="btn btn-default" type="submit" ng-click="readData()">Refresh</button></div>
  		<div class="col-xs-6 col-md-6">
    		<input type="text" ng-model="search.$" placeholder="Global Search" ng-show="establishments">
    		<span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span>
    	</div>
    	<div class="col-xs-6 col-md-2">
    		<p>{{ msgtxt }}</p>
    	</div>
	</div>


	<div ng-show="establishments">

		<h2>Establishments</h2>		
		<div>			
			<table class="table">
				<thead>
					<tr>
						<td>ID</td>
						
						<td class="hand" ng-click="sortOrderBy('Distance', !reverseSort)">Distance <span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>

						<td>Type</td>
						
						<td>Image</td>

						<td class="hand" ng-click="sortOrderBy('MinCost', !reverseSort)">Min Cost<span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>

						<td>Name</td>
						<td class="hand" ng-click="sortOrderBy('Stars', !reverseSort)">Stars<span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>
												
						<td class="hand" ng-click="sortOrderBy('UserRating', !reverseSort)">Rating<span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>
						
						<td>Rating Count</td>
						<td>Title</td>
					</tr>
					<tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><input ng-model="search.MinCost"></td>
						<td><input ng-model="search.Name"></td>
						<td><input ng-model="search.Stars"></td>
						<td><input ng-model="search.UserRating"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="establishment in establishments | filter:search:strict | orderBy:orderByField:reverseSort">

						<td>{{establishment.EstablishmentId}}</td>
						<td>{{establishment.Distance}}</td>
						<td>{{establishment.EstablishmentType}}</td>
						<td><img class="hand" ng-click='loadImage(establishment)' ng-src='{{establishment.ThumbnailUrl}}' alt="{{establishment.Name}}" err-src="http://placehold.it/80x50"></td>

						<td>{{establishment.MinCost}}</td>
						<td>{{establishment.Name}}</td>
						<td>{{establishment.Stars}}</td>
						<td>{{establishment.UserRating}}</td>
						<td>{{establishment.UserRatingCount}}</td>
						<td>{{establishment.UserRatingTitle}}</td>

					</tr>
				</tbody>
				
			</table>
		</div>

	</div>
</div>

