<div class="container">
	<h1>Hotels</h1>
	<div class="row">
  		<div class="col-xs-6 col-md-2"><button class="btn btn-default" type="submit" ng-click="refresh()">Refresh</button></div>
  		<div class="col-xs-6 col-md-8" ng-show="establishments">
	  		<div class="input-group input-group-sm add-on">
	          <input type="text" class="form-control search-query" ng-model="search.$" placeholder="Global Search">
	          <div class="input-group-btn">
	            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	          </div>
	        </div>
    		
    	</div>
    	<div class="col-xs-6 col-md-2">
    		<p>{{ msgtxt }}</p>
    	</div>
	</div>


	<div ng-show="establishments">

		<div class="row">
			<h2 class="col-xs-6 col-md-4">Establishments</h2>
			
			<pagination 
		      ng-model="currentPage"
		      total-items="establismentsCopy.length"
		      max-size="maxSize"  
		      boundary-links="true"
		      rotate="false"
		      class="pagination-sm col-xs-6 col-md-6">
		    </pagination>

			<h2 class="col-md-2">
				<select class="form-control input-sm pull-right" ng-model="numPerPage" ng-change="perPage()" ng-options="('show '+size+' per page') for size in pageSizes"></select>
      		</h2>
		</div>

		<div>			
			<table class="table">
				<thead>
					<tr>
						<td>ID</td>
						
						<td class="hand" ng-click="sortOrderBy('Distance')">Distance <span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>

						<td>Type</td>
						
						<td>&nbsp;</td>

						<td class="hand" ng-click="sortOrderBy('MinCost')">Min Cost<span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>

						<td>Name</td>
						<td class="hand" ng-click="sortOrderBy('Stars')">Stars<span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>
												
						<td class="hand" ng-click="sortOrderBy('UserRating')">Rating<span ng-show="!reverseSort"> v</span><span ng-show="reverseSort"> ^</span></span></td>
						
						<td>Rating Count</td>
						<td>Title</td>
					</tr>
					<tr>
					<tr>
						<td colspan="4"><span ng-show="headerOrderByClicked">Ordered By: {{orderByField}}, Reverse Sort: {{!reverseSort}}</span></td>
						<!--td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td-->
						<td><input ng-model="search.MinCost"></td>
						<td><input ng-model="search.Name"></td>
						
						<td>
							<span  class="nullable">
								<select ng-model="search.Stars" ng-options="dd.Stars as dd.Stars for dd in establishments | unique:'Stars'">
								</select>
							</span>
						</td>

						<td>
							<!--input ng-model="search.UserRating"-->
							<span  class="nullable">
								<select ng-model="search.UserRating" ng-options="dd.UserRating as dd.UserRating for dd in establishments | unique:'UserRating'">
								</select>
							</span>
						</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="establishment in establishments | filter:search:strict | orderBy:orderByField:reverseSort">
						<td>{{establishment.EstablishmentId}}</td>
						<td>{{establishment.Distance}}</td>
						<td>{{establishment.EstablishmentType}}</td>
						<td><img class="hand" ng-click='loadImage(establishment)' ng-src='{{establishment.ThumbnailUrl}}' alt="{{establishment.Name}}" err-src="http://placehold.it/80x50"></td>

						<td>{{establishment.MinCost}}</td>
						<td>{{establishment.Name}}</td>
						<td>{{establishment.Stars}}</td>
						<td>{{establishment.UserRating}}</td>
						<td>{{establishment.UserRatingCount}}</td>
						<td>{{establishment.UserRatingTitle}}</td>
					</tr>
				</tbody>
				
			</table>
		</div>

	</div>
</div>

